# The local docker setup
# cp docker.env.example docker.env # then fill in the keys below
# DCC staff - download Land Explorer docker.env from Bitwarden instead


# REQUIRED - map keys to see the map
# Mapbox: sign up at https://account.mapbox.com and create an access token
# The same token can be used for both if you don't want to track usage individually
VITE_MAPBOX_TOKEN=
VITE_GEOCODER_TOKEN=
# Ordnance Survey: sign up at https://osdatahub.os.uk - new project - OS Maps API
VITE_OS_KEY=

# User guide, this is the standard link
VITE_USER_GUIDE_URL=https://digital-commons.gitbook.io/landexplorer-user-guide/functionality/quick-start-guide

# Optional - email, without it the app won't send email
# SendGrid: free account at https://sendgrid.com - Setting - API Keys
SENDGRID_API_KEY=
# Buttondown (newsletter signup): https://buttondown.com - Settings - API
BUTTONDOWN_API_KEY=


# These are not used in dev unless you are working on the analytics
MIXPANEL_TOKEN=
ANALYTICS_PEPPER=
VITE_MIXPANEL_TOKEN=
VITE_MIXPANEL_PEPPER=
GLITCHTIP_KEY=

# These are not used in dev unless you are working on the PBS pipeline
GOV_API_URL=
GOV_API_KEY=
OS_NGD_API_URL=
OS_NGD_API_KEY=
MAPBOX_GEOCODER_TOKEN=



# The local stack inlines dev throwaways for urls and shared secrets
#FRONT_END_HOSTNAME=dev.app.landexplorer.coop
#CORS_ORIGINS=https://dev.app.landexplorer.coop
#VITE_ROOT_URL=https://dev.api.landexplorer.coop
#MYSQL_ROOT_PASSWORD=88f52a8149f701f56fca9f33cb982cde2095969988f00aff012d551f4b540201
#MEILI_MASTER_KEY=db77174fe19271226b4868a5df3f94037028d338ebb47cb52916452913e1f3ca
#BOUNDARY_SERVICE_SECRET=549f94306eff7b08d3bde0d7c3c90fdbf56c3c53b24152b84166c6cd81e41ff0
#TOKEN_KEY=f43b88fbc46d3c731a0e3aa2
#TOKEN_EXPIRY_DAYS=365
